.blog {
    position: relative;
    @include pad() {
        padding-bottom: 60px;
    }
    @include phoneH() {
        padding-bottom: 0px;
    }
    
}

.blog-menu {
    @include phoneH() {
        width: 100%;
        // border: 1px solid yellow;
    }
    .menu-item {
        display: block;
        padding: 12px 24px 14px 24px;
        text-decoration: none;
        color: #fff;
        font-size: $fz * 2;
        line-height: 1.2;
        transition: all 0.5s;
        @include pad() {
            padding: 16px;
            font-size: $fz * 1.6;
            line-height: 1.5;
        }
        @include phoneH() {
            padding: 16px 12px;
            font-size: $fz * 1.4;
            line-height: 1.5;
        }
        &:hover {
            opacity: 0.5;
        }
    }
}

.blog-logo {
    width: 24px;
    height: 24px;
}

.blog-img {
    width: 55%;
    img {
        display: block;
        width: 100%;
    }
    @include tablet() {
        width: 40%;
    }
    @include pad() {
        width: 50%;
    }
    @include phoneH() {
        width: 100%;
    }
    &-lg {
        width: 100%;
        img {
            display: block;
            width: 100%;
        }
    }
}

.blog-content {
    width: 40%;
    @include tablet() {
        width: 55%;
    }
    @include pad() {
        width: 50%;
    }
    @include phoneH() {
        width: 100%;
    }
}

.blog-title {
    display: block;
    font-size: $fz * 3.2;
    line-height: 1.4;
    color: #650300;
    @include pad() {
        font-size: $fz * 2;
        line-height: 1.4;
    }
    @include phoneH() {
        font-size: $fz * 1.6;
        line-height: 1.4;
    }
}

.blog-detail {
    font-size: $fz * 2;
    line-height: 1.5;
    @include pad() {
        font-size: $fz * 1.6;
        line-height: 1.5;
    }
    @include phoneH() {
        font-size: $fz * 1.4;
        line-height: 1.5;
    }
    &-lg {
        font-size: $fz * 2.8;
        line-height: 1.5;
    }
}
.blog-time {
    font-size: $fz * 1.6;
    line-height: 1.5;
    @include pad() {
        font-size: $fz * 1.4;
        line-height: 1.5;
    }
}

.blog-text {
    font-size: $fz * 2;
    line-height: 1.5;
    color: #555555;
    @include pad() {
        font-size: $fz * 1.4;
        line-height: 1.5;
    }
    &-lg {
        font-size: $fz * 2;
        line-height: 1.5;
        color: rgba(10, 10, 10, 0.6);
    }
}

.blog-btn {
    display: block;
    color: #650300;
    font-size: $fz * 3.6;
    line-height: 1.5;
    font-weight: 900;
    &-inline {
        color: #555555;
    }
}

.blog-menu-sm {
    .menu-item {
        display: block;
        font-size: $fz * 1.6;
        line-height: 1.5;
        color: #000000;
        padding: 0 4px;
        &::after {
            content: '/';
            margin-left: 4px;
        }
        &.active {
            color: #aa0601;
            &::after {
                content: '';
            }
        }
    }
}

.blog-main {
    width: 75%;
    @include phoneH() {
        width: 100%;
    }
}
.blog-tag {
    width: 20%;
    @include phoneH() {
        width: 100%;
    }
}

//------
.share {
    &-title {
        font-size: $fz * 2;
        line-height: 1.5;
        color: #0a0a0a;
        font-weight: bold;
        @include pad() {
            font-size: $fz * 1.6;
            line-height: 1.5;
        }
    }
    &-item {
        display: block;
        width: 24px;
        height: 24px;
        @include pad() {
            width: 20px;
            height: 20px;
        }
        img {
            display: block;
            width: 100%;
        }
    }
}

//--------
.changPage {
    padding-top: 20px;
    border-top: 1px solid #707070;
    @include pad() {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 5%;
        padding-top: 15px;
    }
    @include phoneH() {
        position: relative;
        padding: 0;
        padding-top: 10px;
    }
    .changPage-item {
        font-size: $fz * 2;
        line-height: 1.5;
        color: #000000;
        display: flex;
        @include pad() {
            font-size: $fz * 1.6;
            line-height: 1.5;
        }
        @include phoneH() {
            font-size: $fz * 1.4;
            line-height: 1.5;
        }
    }
    .changPage-img {
        display: block;
        width: 24px;
        @include pad() {
            width: 20px;
        }
        @include phoneH() {
            width: 16px;
        }
    }
}
