.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}

.d-none{
    display: none;
}

@include pad() {
    .flex-md-column {
        flex-direction: column;
    }
    .d-md-none {
        display: none;
    }
    .d-md-inline{
        display: inline;
    }
}

@include phoneH() {
    .d-sm-none {
        display: none;
    }
    .flex-sm-column {
    flex-direction: column;
}
}
